{{!-- archivo para listar los links --}}
<div class="container p-4" style="font-family: 'Oswald', sans-serif">
    <div class="row container">
        <h1>Proyectos activos</h1>
    </div>
    <div class="row">
        {{#each projects}}
        <div class="col-md-3 mt-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3 style="color: #168BE8">
                        {{projectname}}
                    </h3>
                    <p class="m-2">
                        Avance: {{number_adv}}
                    </p>
                    <div class="container">
                        <a href="{{route}}" class="btn btn-success m-1">Descargar JSON</a>
                    </div>
                    <a href="/projects/delete/{{id}}" class="btn btn-danger">Eliminar</a>
                    <a href="/projects/edit/{{id}}" class="btn btn-secondary">Editar</a> 
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay proyectos creados</p>
                <a href="/projects/add">Crea uno!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>